.wrapper {
  --font-color-dark: #fefefe;
  --font-color-light: #111;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  --bg-color: #3B82F6;
  --main-color: #fefefe;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%); /* Center the element horizontally */
  width: 415px;
  height: 0;
  background-color: var(--bg-color);
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the content horizontally */
}
 
.option {
  margin: 0 10px;
  flex: 1;
}

.input {
  display: none;
}

.button{
  flex: 1;
  width: 100%;
  margin: 0 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: white;
}

.button:focus {
  background-color: white;
}
